body {
    background: rgb(70,79,101);
    background: linear-gradient(0deg, rgba(70,79,101,1) 0%, rgba(47,72,97,1) 31%, rgba(136,103,88,1) 100%);
    height: 609px;
    color: white;
    width: 100%;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    font-variation-settings:
      "wdth" 100;
}

.material-icons {
    font-family: 'Material Icons',serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

body .material-symbols-outlined.therm-size {
    font-size: 100px;
    color: #4E78A5;
    float: left;
}

#top-bar {
    width: 100%;
    height: 30px;
    opacity: 90%;
    background-color: #293C53;
    padding: 0;
    margin: 0;
}

#header {
    width: 100%;
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Space out child elements */
    align-items: center; /* Vertically center items */
    flex-wrap: wrap; /* Allow wrapping if needed */
}

#heading-left {
    float: left;
}

#date {
    margin-top: 10px;
    text-align: center;
}

#dateTime {
    text-align: center;
    background-color: #293C53;
    opacity: 90%;
    border-radius: 0 0 25px 25px;
    width: 310px;
    float: left;
    padding-bottom: 15px;
}

#time {
      font-weight: 400;
      font-size: 30px;
}

#current_box {
    padding-left: 10px;
    margin-left: 80px;
    margin-right: auto;
    float: left;
    font-size: 20px;
    text-align: center;
}

#currentTemperatureBox {
    margin-top: 30px;
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Vertically center items */
}

#currentTemperatureFeelsLike {
    margin-left: 5px; /* Add spacing between icon and text */
    margin-top: 30px;
}

.current-box-margins {
    margin-left: 60px;
    margin-right: 60px;
}

#currentRainBox {
    float: left;
    margin-top: 50px;
}

.strongStyling {
    font-weight: 500;
    font-size: 20px;
}

.secondaryStyling {
    font-size: 20px;    color: #BEBEC5;
}

.current-large-txt {
    font-size: 45px;
}

#currentConditionsBox {
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    margin-top: 30px;
}

#currentIconBox {
    float: left;
}

.boxProperties {
    width: 270px;
    float: left;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    opacity: 90%;
    background-color: #293C53;
    text-align: center;
}

#blocks {
    clear: left;
    float: left;
    padding-top: 30px;
    margin-bottom: 100px;
}

#col-left {
    float: left;
    margin-right: 50px;
}

#col-right {
    float: left;
}